@tailwind base; 
@tailwind components; 
@tailwind utilities;

@font-face {
  font-family: PressStart;
  src: url('../public/fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: DaysOne;
  src: url('../public/fonts/DaysOne-Regular.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply bg-gradient-to-t from-red-500 to-orange-500 bg-custom-black text-gray-300 font-primary;
  }
}

html {
  scroll-behavior: smooth;
}

.medium-frame {
  border: 25px solid transparent;
  padding: 0px;
  border-image: url("/images/medium-frame.png") 105 round;
}

.hh-name {
  border: 25px solid transparent;
  padding: 0px;
  border-image: url("/images/button-hh-name.png") 50 round;
  background-color: #202020;
}

/* scroll bar */
.container { 
  border: 45px solid transparent;
  padding: 20px;
  border-image: url("/images/container-transparent.png") 200 round;
  background-color: #202020;
}

@media (max-width:480px)  {
  .container { 
    border: 45px solid transparent;
    padding: 0px;
    border-image: url("/images/container-transparent.png") 200 round;
    background-color: #202020;
  }
}
/* width */
.container::-webkit-scrollbar {
  /* width: 40px; */
  width: auto;
}

/* Track */
.container::-webkit-scrollbar-track {
  background: #121212;
  /* border-radius: 14px; */
  /* background-image: url("/images/slider.png");
  background-size: contain; */
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: #c4c2c3;
  /* border-radius: 10px; */
  /* outline: 2px solid #0A0A0A; */
  border: 2px solid #707070;
  /* background-image: url("/images/slider-button.png");
  background-size: contain; */
}

/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #202020;
  /* background-image: url("/images/slider.png");
  background-size: contain; */
}
